<p>
    <?php echo __d('account_manager','WELCOME_MSG'), ' ', '<strong>' . $userAlias . '</strog>';?>
</p>
<?php
echo $this->Html->link(__d('account_manager', 'LOGOUT_OPTION'), 'logout'), ' | ' , 
     $this->Html->link(__d('account_manager', 'CONFIGURE_OPTION'), 'configure');
?>