<p>
<?php
    echo __d('account_manager', 'REGISTER_MSG');
?>
</p>
<p>
    <?php
    echo __d('account_manager', 'REGISTER_MSG_2') .', ', 
         $this->Html->link(__d('account_manager', 'SEND_ACTIVATION_CODE_LINK'), 'resendActivationCode');
    ?>
</p>

