<h1><?php echo __d('account_manager', 'EMAIL_WELCOME_SUBJECT');?></h1>
<p>
    <?php echo __d('account_manager', 'EMAIL_REGISTER_GRETTING');?>
    <a href="<?php echo $url; ?>"><?php echo __d('account_manager', 'ACTIVATION_OPTION'); ?></a>
</p>
